@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Griffy&display=swap');
$font-1: 'Creepster', cursive;
$font-2: 'Griffy', cursive;
$color-1: #b40404;
$color-2: #2600ff;
$color-3: #0000FF;
$borderRadius: 25px;
$shadow: 0 1PX 3px #b40404;
@mixen horizontalCenter{
    display: flex;
    justify-content: center;
    align-item:center;
}